.pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  border-style: none;
  background: #f5ccd4;
}
.list-group-item {
  background-color: #f5ccd4;
  border: none
}
.btn {
  color: #764E7E;
  background-color: #c9def4;
  width: 100%
}
body{
  margin-top: 60px;
}