.pokeClass{
    color: #f5ccd4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color: #c9def4;
    background-color: #764E7E;
    text-align: center;
    padding: 2%;
    width: 15%;
}