.pokemon-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  border-style: none;
  background: #E1D7C6;
}
.navbar{
  background-color: #F8F4EA;
  border: 3px solid #F8F4EA;
}
.list-group-item {
  background-color: #579BB1;
  border: none;
}
.btn {
  color: black;
  background-color: #E1D7C6;
  width: 100%;
  border: 2px solid black;
}
body{
  margin-top: 60px;
}